{{- with .Params.faq -}}

  {{- $questions := slice -}}

  {{- range . -}}

    {{- $questions = $questions | append (dict
        "@type" "Question"
        "name" .question
        "acceptedAnswer" (dict
          "@type" "Answer"
          "text" .answer
        )
    ) -}}

  {{- end -}}

  {{- $data := dict
      "@context" "https://schema.org"
      "@type" "FAQPage"
      "mainEntity" $questions
  -}}

<script type="application/ld+json">
{{ $data | jsonify | safeJS }}
</script>

{{- end -}}